
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#f0f2f5;

}
.container{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.box1{
    width: 51%;
    

   
}
h1{
    color: royalblue;
    font-size: 65px;
    font-weight: 500;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: -25%;

}
h3{
    color: black;
    font-size: 25px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 50;

}
.box2{
    width: 49%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff ;
    width: 450px;
    height: 400px;
    box-shadow: -10px -10px 15px rgb(0,0,0,0.1), 
    10px 10px 15px rgb(0,0,0,0.1);
    border-radius: 10px;
   
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    

}
input{
    width: 380px;
    height: 50px;
    margin: 11px 0px -6px;
    padding: 0px 10px;
    outline: none;
    border:1px solid #ccc;
    font-size: 18px;
    border-radius: 10px;
    


}
.loginpage button{
    background-color: royalblue;
    color: white;
    width: 380px;
    height: 50px;
    border-radius: 10px;
    
}
#account{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;
    background-color: green;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 15px;
    font-weight: 30px;
    border-radius: 5px;


}
a{
    color: royalblue;


}
hr{
    border: 1px solid grey;
    width: 320px;
    margin: 20px 0px;
}
span{
    margin:20px 0px;
    font-size: 15px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    


}